@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*, body{
    background: black;
    color: white;
    font-family: 'Poppins';
    border: black;
}


h1{
    text-align: center;
    font-size: 90pt;
}

h2{
    font-size: 30pt;
    text-align: center;
    text-decoration: none;
}

a{
    color: inherit;
    text-decoration: none;
}

hr{
    border: 1px solid white;
    margin-left: 30%;
    margin-right: 30%;
}

tr{
    font-size: 20px;
    overflow: hidden;
}

button {
    border: 0;
    padding: 0;
    display: inline;
    background: none;
}
button:hover {
    cursor: pointer;
    color: blue;
}

tr.head{
    font-size: 30pt;
    border-collapse: collapse;
    border: 1px solid white;
}

p.def{
    font-size: 18pt;
    margin-left: 25%;
    margin-right: 25%;
}

p.defc{
    font-size: 18pt;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

div.error{
    
    margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
      
}

div.about{
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 10px;
    text-align: center;
    font-size: 16pt;
}

div.error p{
    font-size: 28pt;
}

div.error h2, div.about h2{
    font-size: 45pt;
}

p.center{
    text-align: center;
}

table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid white;
}

.form{
    margin-left: 30%;
    margin-right: 30%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: normal;
    align-content: normal;
    max-width: 100%;
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    max-width: 40% !important;
    min-width: 40% !important;
    width: 40%;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    max-width: 40% !important;
    min-width: 40% !important;
    width: 40%;

  }